cypress/fixtures/flows/dashboard-forms.json
[
    {
        "id": "node-red-tab-forms",
        "type": "tab",
        "label": "UI Forms",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "node-red-tab-helper-api",
        "type": "tab",
        "label": "Helper API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "dashboard-ui-group",
        "type": "ui-group",
        "name": "Group 1",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bab1dddbce88e07a",
        "type": "ui-group",
        "name": "Dynamic Property Tests",
        "page": "ac7182e72518af58",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ac7182e72518af58",
        "type": "ui-page",
        "name": "Page 2",
        "ui": "dashboard-ui-base",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6131b32caa5f7c73",
        "type": "ui-page",
        "name": "Page 3",
        "ui": "dashboard-ui-base",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3049fc79f62c5b59",
        "type": "ui-group",
        "name": "My Group",
        "page": "6131b32caa5f7c73",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "test-helper",
        "type": "function",
        "z": "node-red-tab-forms",
        "name": "Store Latest Msg",
        "func": "global.set('msg', msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-form",
        "type": "ui-form",
        "z": "node-red-tab-forms",
        "name": "Test Form",
        "group": "dashboard-ui-group",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "key": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Checkbox Example",
                "key": "check",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Switch Example",
                "key": "switch",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "check": false,
            "switch": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": false,
        "topic": "new-topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 120,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-form-dynamic",
        "type": "ui-form",
        "z": "node-red-tab-forms",
        "name": "Dynamic Form",
        "group": "bab1dddbce88e07a",
        "label": "Dynamic Form",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "key": "name0",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name0": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": false,
        "topic": "new-topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-button-set-dynamic-options",
        "type": "ui-button",
        "z": "node-red-tab-forms",
        "group": "bab1dddbce88e07a",
        "name": "",
        "label": "Override Form Options",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "6d940deccaa355f6"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-set-defaults",
        "type": "ui-button",
        "z": "node-red-tab-forms",
        "group": "3049fc79f62c5b59",
        "name": "",
        "label": "Set Defaults",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"name0\": \"Overridden Default Name\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "863a8d42d528b3f0"
            ]
        ]
    },
    {
        "id": "6d940deccaa355f6",
        "type": "change",
        "z": "node-red-tab-forms",
        "name": "Set Options",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "ui_update.options",
                "pt": "msg",
                "to": "[{\"type\":\"text\",\"label\":\"Name\",\"key\":\"name\",\"required\":true},{\"type\":\"multiline\",\"label\":\"Name\",\"key\":\"multiline\",\"required\":true,\"rows\":4},{\"type\":\"password\",\"label\":\"Password\",\"key\":\"password\",\"required\":true},{\"type\":\"email\",\"label\":\"E-Mail Address\",\"key\":\"email\",\"required\":true},{\"type\":\"number\",\"label\":\"Age\",\"key\":\"age\",\"required\":true},{\"type\":\"checkbox\",\"label\":\"Subscribe to Newsletter\",\"key\":\"newsletter\"},{\"type\":\"switch\",\"label\":\"Enable Notifications\",\"key\":\"notifications\"},{\"type\":\"date\",\"label\":\"Date of Birth\",\"key\":\"dob\",\"required\":true},{\"type\":\"time\",\"label\":\"Time of Birth\",\"key\":\"tob\",\"required\":true}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "dashboard-ui-form-dynamic"
            ]
        ]
    },
    {
        "id": "863a8d42d528b3f0",
        "type": "ui-form",
        "z": "node-red-tab-forms",
        "name": "Dynamic Form",
        "group": "3049fc79f62c5b59",
        "label": "Dynamic Form",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "key": "name0",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name0": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": false,
        "topic": "new-topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 510,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "45c43512193e2f0a",
        "type": "ui-button",
        "z": "node-red-tab-forms",
        "group": "bab1dddbce88e07a",
        "name": "",
        "label": "Set Defaults",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "44e5b390d6e25c81"
            ]
        ]
    },
    {
        "id": "44e5b390d6e25c81",
        "type": "change",
        "z": "node-red-tab-forms",
        "name": "Set Options",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "ui_update.options",
                "pt": "msg",
                "to": "[{\"type\":\"text\",\"label\":\"Name\",\"key\":\"name1\",\"required\":true}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "dashboard-ui-form-dynamic"
            ]
        ]
    },
    {
        "id": "node-red-http-in-store-context",
        "type": "http in",
        "z": "node-red-tab-helper-api",
        "name": "",
        "url": "/context/flow",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 50,
        "wires": [
            [
                "fcn-store-context"
            ]
        ]
    },
    {
        "id": "fcn-store-context",
        "type": "function",
        "z": "node-red-tab-helper-api",
        "name": "function 1",
        "func": "msg.payload = {} \n\nconst key = msg.req.query?.key || 'msg'\n\nconst body = {}\nbody[key] = global.get(key)\n\nmsg.payload = body\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 50,
        "wires": [
            [
                "node-red-http-out-store-context"
            ]
        ]
    },
    {
        "id": "node-red-http-out-store-context",
        "type": "http response",
        "z": "node-red-tab-helper-api",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 50,
        "wires": []
    },
    {
        "id": "node-red-http-in-reset-context",
        "type": "http in",
        "z": "node-red-tab-helper-api",
        "name": "",
        "url": "/context/reset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "fcn-reset-context"
            ]
        ]
    },
    {
        "id": "fcn-reset-context",
        "type": "function",
        "z": "node-red-tab-helper-api",
        "name": "function 2",
        "func": "global.set('msg', undefined)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "node-red-http-out-reset-context"
            ]
        ]
    },
    {
        "id": "node-red-http-out-reset-context",
        "type": "http response",
        "z": "node-red-tab-helper-api",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "http-in-store-global",
        "type": "http in",
        "z": "node-red-tab-helper-api",
        "name": "",
        "url": "/context/global",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "fcn-store-global"
            ]
        ]
    },
    {
        "id": "fcn-store-global",
        "type": "function",
        "z": "node-red-tab-helper-api",
        "name": "Set Global Var",
        "func": "function createNestedObject(keys, value) {\n    const keyParts = keys.split('.');\n    const result = {};\n    let current = result;\n\n    for (let i = 0; i < keyParts.length; i++) {\n        const key = keyParts[i];\n        if (i === keyParts.length - 1) {\n            current[key] = value;\n        } else {\n            current[key] = {};\n            current = current[key];\n        }\n    }\n\n    return result;\n}\n\nconst keys = msg.payload.key.split('.')\n\nif (keys.length > 1) {\n    const nested = createNestedObject(msg.payload.key, msg.payload.value)\n    global.set(keys[0], nested[keys[0]])\n} else {\n    global.set(msg.payload.key, msg.payload.value)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "http-out-store-global"
            ]
        ]
    },
    {
        "id": "http-out-store-global",
        "type": "http response",
        "z": "node-red-tab-helper-api",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 160,
        "wires": []
    }
]